@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;    
    margin : 0%;
    padding : 0%;
    width : 100%;
    overflow-x: hidden;
}

body {
    background-color: black;

}
.navbar{
    width: 100%;
    background-color: black;
border-bottom : 2px solid white;
    text-align : left;
    height : 5rem;
    font-size : 2rem;
    position : fixed;
    top : 0;
    
}

.navbar p{
    color : white;
    margin-top : 1.5rem;
    margin-left : 2rem;
    padding : 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
